/* GENERALES */
@font-face{
	font-family:nombre;
	src:url("font/Nebulous.ttf");
}
@font-face{
	font-family:texto;
	src:url("font/sunshine.ttf");
}
@font-face{
	font-family:titulo;
	src:url("font/fun.otf");
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	background-image:url(img/bg.png);
	background-size:100%;
	padding:1.5%;
}

/* CONTENIDO */

div.name{
	font-family:nombre;
	font-size:4em;
	margin-top:1%;
	width:48%;
	float:right;
}
div.name img{
	display:block;
	margin-left:15%;
	width:40%;
	border-radius:3em;
}
div.name h1{
	padding-top:2%;
}
div.paper{
	margin:1%;
	float:right;
	width:50%;
	background-image:url(img/hoja.png);
	background-size:90%;
	background-repeat:no-repeat;
}
div.paper>h1{
	font-size:4em;
	padding-top:5.2%;
	margin-bottom:-0.5%;
	text-align:center;
	font-family:titulo;
}
div.paper>h3{
	font-size:1.8em;
	text-align:center;
	font-family:texto;
	margin-bottom:1.2%;
}
div.paper>ul{
	margin-left:12%;
}
div.paper>ul li{
	width:51%;
	font-size:1.5em;
	margin-bottom:2.4%;
	font-family:texto;
	list-style-image:url(img/asterisco1.png);
	list-style-position:inside;
	font-weight:bold;
}
div.paper>ul li:last-child{
	padding-bottom:1%;
}
div.paper>ul li a{
	text-decoration:none;
	color:black;
	padding:0.2em;
	transition-property:background-color;
	transition-duration:500ms;
}
div.paper>ul li:hover a{
	background-color:rgba(255,255,0,0.6);
	text-decoration:none;
	color:black;
}
div.img{
	margin-left:11.5%;
	width:75%;
	height:210px;
	margin-bottom:10%;
}
div.img img{
	width:88%;
	display:block;
	margin:0 auto;
	border-radius:1em;
}
.aparece{
	animation-name:aparece;
	animation-duration:500ms;
	animation-fill-mode:forwards;
}
@keyframes aparece{
	0%{
		height:0%;
	}
	100%{
		height:100%;
	}
}
.desaparece{
	animation-name:desaparece;
	animation-duration:500ms;
	animation-fill-mode:forwards;
	display:none;
}
@keyframes desaparece{
	0%{
		height:100%;
	}
	100%{
		height:0%;
	}
}

/* FOOTER NO NAVIDEÑO */
footer{
	width:100%;
	position:fixed;
	bottom:1%;
	font-size:1.2em;
	clear:both;
}
footer span{
	display:block;
	font-variant:small-caps;

}